@page
@model poo1atv.Views.Blog.indexModel
@{
}
<h2>Blog de Notícias</h2>
<div id="blog-posts">
   <div class="blog-post">
        <h1>Noticias do dia</h1>
   </div>
</div>




<style>
    #blog-posts {
        margin-top: 20px
    }

    .blog-post {
        border-bottom: 1px solid #ccc;
        margin-bottom:  15px;
        padding-bottom: 10px;
    }
</style>