@page
@model poo1atv.Views.Home.AboutModel
@{
}
<div class="container">
    <h2>Sobre Nós</h2>
    <p>é um lugar onde você pode trabalhar 100% remoto com os melhores benefícios do setor. Pra nós, uma vida equilibrada entre profissional e pessoal vem em primeiro lugar. É a única forma de mantermos as pessoas performando bem.</p>
</div>
