@page
@model poo1atv.Views.About.indexModel
@{
}
<div class="container">
    <h2>Sobre Nós</h2>
    <p>Informações sobre a empresa.</p>
    <!-- Adicione mais seções como Missão, Visão, Valores, etc. -->
</div>
